body {
  background-color: rgb(221, 198, 97);
  display: grid;
  width: 98%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1f;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  text-align: center;
}

header{
  font-size: 100px;
  color:red;

}

#cachipun {
 grid-column-start: 1 ;
 grid-column-end: 2 ;
 grid-row-start: 1 ;
 grid-row-end:3 ;
 background-color: chartreuse;
 padding-top: 30px;
 border-radius: 50%;
 
}

#computerplay {
  grid-column-start: 3;
  grid-column-end : 4 ;
  grid-row-start: 1;
  grid-row-end:3;
  background-color: chartreuse;
  padding-top: 30px;
  font-size: 20px;
  border-radius: 50%;
 }


#result{
  grid-column-start: 2;
  grid-column-end : 3 ;
  grid-row-start: 2;
  grid-row-end: 3 ;
  background-color: cornflowerblue;
  
}

#scoretitle{
  grid-column-start: 2;
  grid-column-end : 3 ;
  grid-row-start: 3;
  grid-row-end: 4 ;
  background-color: crimson;
  padding-top: 2%;
  font-size: 30px;
  
}

#computerscorestyle {
grid-area: 3/1/6/2;
background-color: darkcyan;
padding-top: 10%;
font-size: 2em;
color:yellow;
}

#playerscorestyle {
grid-area: 3/3/6/4;
background-color: darkcyan;
padding-top: 10%;
font-size: 2em;
color:yellow;
}
.btn{
  font-size: 1.3em;
  transition-duration: 0.4s;
  background-color: rgba(201, 197, 197, 0.884);
  border-radius: 6px;
}
.btn:hover{
  background-color:blue ;
  color:whitesmoke;
}

#resultado{
  color:yellow;
  font-size: 3em;
  
}
